.clear {
  clear: both;
}
.flag-AL {
  background-position: 0 -4px;
}
.flag-CD {
  background-position: 0 -29px;
}
.flag-FJ {
  background-position: 0 -79px;
}
.flag-AD {
  background-position: 0 -129px;
}
.flag-AE {
  background-position: 0 -154px;
}
.flag-AF {
  background-position: 0 -179px;
}
.flag-AG {
  background-position: 0 -204px;
}
.flag-AI {
  background-position: 0 -229px;
}
.flag-AM {
  background-position: 0 -254px;
}
.flag-AN {
  background-position: 0 -279px;
}
.flag-AO {
  background-position: 0 -304px;
}
.flag-AQ {
  background-position: 0 -329px;
}
.flag-AR {
  background-position: 0 -354px;
}
.flag-AS {
  background-position: 0 -379px;
}
.flag-AT {
  background-position: 0 -404px;
}
.flag-AU {
  background-position: 0 -429px;
}
.flag-AW {
  background-position: 0 -454px;
}
.flag-AZ {
  background-position: 0 -479px;
}
.flag-BA {
  background-position: 0 -504px;
}
.flag-BB {
  background-position: 0 -529px;
}
.flag-BD {
  background-position: 0 -554px;
}
.flag-BE {
  background-position: 0 -579px;
}
.flag-BF {
  background-position: 0 -604px;
}
.flag-BG {
  background-position: 0 -629px;
}
.flag-BH {
  background-position: 0 -654px;
}
.flag-BI {
  background-position: 0 -679px;
}
.flag-BJ {
  background-position: 0 -704px;
}
.flag-BM {
  background-position: 0 -729px;
}
.flag-BN {
  background-position: 0 -754px;
}
.flag-BO {
  background-position: 0 -779px;
}
.flag-BR {
  background-position: 0 -804px;
}
.flag-BS {
  background-position: 0 -829px;
}
.flag-BT {
  background-position: 0 -854px;
}
.flag-BW {
  background-position: 0 -879px;
}
.flag-BY {
  background-position: 0 -904px;
}
.flag-BZ {
  background-position: 0 -929px;
}
.flag-CA {
  background-position: 0 -954px;
}
.flag-CD {
  background-position: 0 -979px;
}
.flag-CF {
  background-position: 0 -1004px;
}
.flag-CH {
  background-position: 0 -1029px;
}
.flag-CI {
  background-position: 0 -1054px;
}
.flag-CK {
  background-position: 0 -1079px;
}
.flag-CL {
  background-position: 0 -1104px;
}
.flag-CM {
  background-position: 0 -1129px;
}
.flag-CN {
  background-position: 0 -1154px;
}
.flag-CO {
  background-position: 0 -1179px;
}
.flag-CR {
  background-position: 0 -1204px;
}
.flag-CS {
  background-position: 0 -1229px;
}
.flag-CU {
  background-position: 0 -1254px;
}
.flag-CV {
  background-position: 0 -1279px;
}
.flag-CY {
  background-position: 0 -1304px;
}
.flag-CZ {
  background-position: 0 -1329px;
}
.flag-DE {
  background-position: 0 -1354px;
}
.flag-DJ {
  background-position: 0 -1379px;
}
.flag-DK {
  background-position: 0 -1404px;
}
.flag-DM {
  background-position: 0 -1429px;
}
.flag-DO {
  background-position: 0 -1454px;
}
.flag-DZ {
  background-position: 0 -1479px;
}
.flag-EC {
  background-position: 0 -1504px;
}
.flag-EE {
  background-position: 0 -1529px;
}
.flag-EG {
  background-position: 0 -1554px;
}
.flag-EH {
  background-position: 0 -1579px;
}
.flag-ER {
  background-position: 0 -1604px;
}
.flag-ES {
  background-position: 0 -1629px;
}
.flag-ET {
  background-position: 0 -1654px;
}
.flag-FI {
  background-position: 0 -1679px;
}
.flag-FM {
  background-position: 0 -1704px;
}
.flag-FO {
  background-position: 0 -1729px;
}
.flag-FR {
  background-position: 0 -1754px;
}
.flag-GA {
  background-position: 0 -1779px;
}
.flag-GB {
  background-position: 0 -1804px;
}
.flag-GD {
  background-position: 0 -1829px;
}
.flag-GE {
  background-position: 0 -1854px;
}
.flag-GG {
  background-position: 0 -1879px;
}
.flag-GH {
  background-position: 0 -1904px;
}
.flag-GI {
  background-position: 0 -1929px;
}
.flag-GL {
  background-position: 0 -1954px;
}
.flag-GM {
  background-position: 0 -1979px;
}
.flag-GN {
  background-position: -25px -6;
}
.flag-GO {
  background-position: -25px -29px;
}
.flag-GP {
  background-position: -25px -54px;
}
.flag-GQ {
  background-position: -25px -79px;
}
.flag-GR {
  background-position: -25px -104px;
}
.flag-GT {
  background-position: -25px -129px;
}
.flag-GU {
  background-position: -25px -154px;
}
.flag-GW {
  background-position: -25px -179px;
}
.flag-GY {
  background-position: -25px -204px;
}
.flag-HK {
  background-position: -25px -229px;
}
.flag-HN {
  background-position: -25px -254px;
}
.flag-HR {
  background-position: -25px -279px;
}
.flag-HT {
  background-position: -25px -304px;
}
.flag-HU {
  background-position: -25px -329px;
}
.flag-ID {
  background-position: -25px -354px;
}
.flag-ID {
  background-position: -25px -379px;
}
.flag-IL {
  background-position: -25px -404px;
}
.flag-IN {
  background-position: -25px -429px;
}
.flag-IQ {
  background-position: -25px -454px;
}
.flag-IR {
  background-position: -25px -479px;
}
.flag-IS {
  background-position: -25px -504px;
}
.flag-IT {
  background-position: -25px -529px;
}
.flag-JE {
  background-position: -25px -554px;
}
.flag-JM {
  background-position: -25px -579px;
}
.flag-JO {
  background-position: -25px -604px;
}
.flag-JP {
  background-position: -25px -629px;
}
.flag-KE {
  background-position: -25px -654px;
}
.flag-KG {
  background-position: -25px -679px;
}
.flag-KH {
  background-position: -25px -704px;
}
.flag-KI {
  background-position: -25px -729px;
}
.flag-KM {
  background-position: -25px -754px;
}
.flag-KN {
  background-position: -25px -779px;
}
.flag-KO {
  background-position: -25px -804px;
}
.flag-KP {
  background-position: -25px -829px;
}
.flag-KR {
  background-position: -25px -854px;
}
.flag-KW {
  background-position: -25px -879px;
}
.flag-KY {
  background-position: -25px -904px;
}
.flag-KZ {
  background-position: -25px -929px;
}
.flag-LA {
  background-position: -25px -954px;
}
.flag-LB {
  background-position: -25px -979px;
}
.flag-LC {
  background-position: -25px -1004px;
}
.flag-LI {
  background-position: -25px -1029px;
}
.flag-LK {
  background-position: -25px -1054px;
}
.flag-LR {
  background-position: -25px -1079px;
}
.flag-LS {
  background-position: -25px -1104px;
}
.flag-LT {
  background-position: -25px -1129px;
}
.flag-LU {
  background-position: -25px -1154px;
}
.flag-LV {
  background-position: -25px -1179px;
}
.flag-LY {
  background-position: -25px -1204px;
}
.flag-MA {
  background-position: -25px -1229px;
}
.flag-MC {
  background-position: -25px -1254px;
}
.flag-MD {
  background-position: -25px -1279px;
}
.flag-ME {
  background-position: -25px -1304px;
}
.flag-MG {
  background-position: -25px -1329px;
}
.flag-MH {
  background-position: -25px -1354px;
}
.flag-MK {
  background-position: -25px -1379px;
}
.flag-ML {
  background-position: -25px -1404px;
}
.flag-MM {
  background-position: -25px -1429px;
}
.flag-MN {
  background-position: -25px -1454px;
}
.flag-MO {
  background-position: -25px -1479px;
}
.flag-MQ {
  background-position: -25px -1504px;
}
.flag-MR {
  background-position: -25px -1529px;
}
.flag-MS {
  background-position: -25px -1554px;
}
.flag-MT {
  background-position: -25px -1579px;
}
.flag-MU {
  background-position: -25px -1604px;
}
.flag-MV {
  background-position: -25px -1629px;
}
.flag-MW {
  background-position: -25px -1654px;
}
.flag-MX {
  background-position: -25px -1679px;
}
.flag-MY {
  background-position: -25px -1704px;
}
.flag-MZ {
  background-position: -25px -1729px;
}
.flag-NA {
  background-position: -25px -1754px;
}
.flag-NC {
  background-position: -25px -1779px;
}
.flag-NE {
  background-position: -25px -1804px;
}
.flag-NG {
  background-position: -25px -1829px;
}
.flag-NI {
  background-position: -25px -1854px;
}
.flag-NL {
  background-position: -25px -1879px;
}
.flag-NO {
  background-position: -25px -1904px;
}
.flag-NP {
  background-position: -25px -1929px;
}
.flag-NR {
  background-position: -25px -1954px;
}
.flag-NZ {
  background-position: -25px -1979px;
}
.flag-OM {
  background-position: -50px -6px;
}
.flag-PA {
  background-position: -50px -29px;
}
.flag-PE {
  background-position: -50px -54px;
}
.flag-PF {
  background-position: -50px -79px;
}
.flag-PG {
  background-position: -50px -104px;
}
.flag-PH {
  background-position: -50px -129px;
}
.flag-PK {
  background-position: -50px -154px;
}
.flag-PL {
  background-position: -50px -179px;
}
.flag-PR {
  background-position: -50px -204px;
}
.flag-PS {
  background-position: -50px -229px;
}
.flag-PT {
  background-position: -50px -254px;
}
.flag-PW {
  background-position: -50px -279px;
}
.flag-PY {
  background-position: -50px -304px;
}
.flag-QA {
  background-position: -50px -329px;
}
.flag-RE {
  background-position: -50px -354px;
}
.flag-RO {
  background-position: -50px -379px;
}
.flag-RS {
  background-position: -50px -404px;
}
.flag-RU {
  background-position: -50px -429px;
}
.flag-RW {
  background-position: -50px -454px;
}
.flag-SA {
  background-position: -50px -479px;
}
.flag-SB {
  background-position: -50px -504px;
}
.flag-SC {
  background-position: -50px -529px;
}
.flag-SD {
  background-position: -50px -554px;
}
.flag-SE {
  background-position: -50px -579px;
}
.flag-SG {
  background-position: -50px -604px;
}
.flag-SI {
  background-position: -50px -629px;
}
.flag-SK {
  background-position: -50px -654px;
}
.flag-SL {
  background-position: -50px -679px;
}
.flag-SM {
  background-position: -50px -704px;
}
.flag-SN {
  background-position: -50px -729px;
}
.flag-SO {
  background-position: -50px -754px;
}
.flag-SP {
  background-position: -50px -779px;
}
.flag-SR {
  background-position: -50px -804px;
}
.flag-ST {
  background-position: -50px -829px;
}
.flag-SV {
  background-position: -50px -854px;
}
.flag-SX {
  background-position: -50px -879px;
}
.flag-SY {
  background-position: -50px -896px;
}
.flag-SZ {
  background-position: -50px -921px;
}
.flag-TC {
  background-position: -50px -946px;
}
.flag-TD {
  background-position: -50px -971px;
}
.flag-TG {
  background-position: -50px -996px;
}
.flag-TH {
  background-position: -50px -1021px;
}
.flag-TJ {
  background-position: -50px -1046px;
}
.flag-TL {
  background-position: -50px -1071px;
}
.flag-TM {
  background-position: -50px -1096px;
}
.flag-TN {
  background-position: -50px -1121px;
}
.flag-TO {
  background-position: -50px -1146px;
}
.flag-TR {
  background-position: -50px -1171px;
}
.flag-TT {
  background-position: -50px -1196px;
}
.flag-TV {
  background-position: -50px -1221px;
}
.flag-TW {
  background-position: -50px -1246px;
}
.flag-TZ {
  background-position: -50px -1271px;
}
.flag-UA {
  background-position: -50px -1296px;
}
.flag-UG {
  background-position: -50px -1321px;
}
.flag-US {
  background-position: -50px -1346px;
}
.flag-UY {
  background-position: -50px -1371px;
}
.flag-UZ {
  background-position: -50px -1396px;
}
.flag-VA {
  background-position: -50px -1421px;
}
.flag-VC {
  background-position: -50px -1446px;
}
.flag-VE {
  background-position: -50px -1471px;
}
.flag-VG {
  background-position: -50px -1496px;
}
.flag-VI {
  background-position: -50px -1521px;
}
.flag-VN {
  background-position: -50px -1546px;
}
.flag-VU {
  background-position: -50px -1571px;
}
.flag-WS {
  background-position: -50px -1596px;
}
.flag-YE {
  background-position: -50px -1621px;
}
.flag-ZA {
  background-position: -50px -1646px;
}
.flag-ZM {
  background-position: -50px -1671px;
}
.flag-ZW {
  background-position: -50px -1696px;
}
.flags {
  background-image: url(flags.gif);
  background-repeat: no-repeat;
  width: 24px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
#c_h_h_cont #search_box {
  width: 100%;
  margin: 0 auto;
  border-style: solid;
  padding: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#c_h_h_cont #do_location {
  margin: 0.5em 0;
  display: none;
}
#c_h_h_cont #dif_ret_block {
  margin-bottom: 0.5em;
  text-align: left !important;
  line-height: 1em !important;
}
#c_h_h_cont #dif_ret_block input {
  line-height: 1em !important;
  vertical-align: middle !important;
  display: inline !important;
  margin: 0 !important;
}
.c_c_c_full_width .powered_hispacar {
  text-align: right;
  margin: 0.3em;
}
.c_c_c_half_width .powered_hispacar {
  text-align: center;
  margin: 0.3em;
}
#c_h_h_cont .powered_hispacar img {
  vertical-align: middle !important;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  float: none !important;
  display: inline !important;
  border: none !important;
}
#c_h_h_cont h6 {
  font-weight: bold !important;
  font-size: 1.3em !important;
  line-height: 1.3em !important;
  color: inherit !important;
  margin: 0 !important;
}
.c_c_c_full_width .loc {
  width: 100% !important;
  height: auto !important;
  padding: 0.3em !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-size: 1.2em !important;
  margin: 0 0 0.5em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  color: inherit !important;
  border-color: inherit !important;
  background: white !important;
}
.c_c_c_full_width .date {
  width: 60% !important;
  height: auto !important;
  padding: 0.3em !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-size: 1.2em !important;
  height: 2em !important;
  margin: 0 0 0.5em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  background: white url(calendar.gif) no-repeat right !important;
  color: inherit !important;
  border-color: inherit !important;
  clear: none !important;
}
.c_c_c_full_width .time {
  width: 35% !important;
  height: auto !important;
  padding: 0 0.3em !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-size: 1.2em !important;
  height: 2em !important;
  margin: 0 0 0.5em 0  !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  float: right !important;
  color: inherit !important;
  border-color: inherit !important;
  clear: none !important;
  background: white !important;
}
.c_c_c_full_width .butt {
  width: 100% !important;
  height: auto !important;
  margin: 1em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-style: solid !important;
  box-shadow: #444444 2px 1px !important;
  font-weight: bold !important;
  font-size: 1.4em !important;
  padding: 0.2em !important;
  text-shadow: none !important;
  background-image: none !important;
}
.c_c_c_full_width .sep1 {
  height: 1em;
}
.c_c_c_full_width .sep2 {
  height: 0;
}
.c_c_c_full_width .sep3 {
  height: 0.5em;
}
.c_c_c_half_width .loc {
  width: 100% !important;
  height: auto !important;
  padding: 0.3em !important;
  border: 1px solid #cccccc !important;
  font-size: 1.2em !important;
  margin: 0 0 0.5em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: white !important;
  color: inherit !important;
  border-color: inherit !important;
}
.c_c_c_half_width .date {
  width: 100% !important;
  height: auto !important;
  padding: 0.3em !important;
  border: 1px solid #cccccc !important;
  font-size: 1.2em !important;
  height: 2em !important;
  margin: 0 0 0.5em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: white url(calendar.gif) no-repeat right !important;
  color: inherit !important;
  border-color: inherit !important;
  clear: none !important;
}
.c_c_c_half_width .time {
  width: 100% !important;
  height: auto !important;
  padding: 0 0.3em !important;
  border: 1px solid #cccccc !important;
  font-size: 1.2em !important;
  height: 2em !important;
  margin: 0 0 0.5em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background: white !important;
  color: inherit !important;
  border-color: inherit !important;
  clear: none !important;
}
.c_c_c_half_width .butt {
  width: 100% !important;
  height: auto !important;
  margin: 1em 0 !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box;
  border-width: 0 !important;
  border-style: solid !important;
  box-shadow: #444444 2px 1px !important;
  font-weight: bold !important;
  font-size: 1.2em !important;
  padding: 0.2em !important;
  text-shadow: none !important;
  background-image: none !important;
}
.c_c_c_half_width .sep1 {
  height: 1em;
}
.c_c_c_half_width .sep2 {
  height: 1.5em;
}
.c_c_c_half_width .sep3 {
  height: 0.5em;
}
td.ui-datepicker-current-day {
  border: none !important;
  padding: 1px 0 1px 1px !important;
  background: none !important;
  overflow: hidden;
}
td.ui-datepicker-current-day a {
  background: #999 !important;
  border: 1px #88a276 solid !important;
}
td.highlight {
  border: none !important;
  padding: 1px 0 1px 1px !important;
  background: none !important;
  overflow: hidden;
}
td.highlight a {
  background: #999 !important;
  border: 1px #999 solid !important;
}
#c_h_h_cont .form_error {
  border: 1px solid red !important;
}
#c_h_h_cont #validation_errors {
  background: #ff5555;
  border: 1px solid red;
  padding: 0.4em;
  margin-bottom: 0.3em;
  display: none;
}
#c_h_h_cont #validation_errors .close {
  display: block;
  float: right;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
